name: Run precommit to automatically format and fix PRs

on:
  pull_request:
  push:

permissions:
  contents: write
  pull-requests: write

jobs:
  format:
    runs-on: ubuntu-latest
    container: ursg/vlasiator_ci:20250909_1

    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: say something stupid
        run: |
          echo "Neutrinos, they are very small"
          echo "They have no charge, they have no mass"
          echo "They hardly interact at all"
          echo "The Earth is just a silly ball"
          echo "to them, through which they simply pass"
          echo "like dustmaids through a drafty hall"
          echo "or photons throguh a sheet of glass"
          echo "They pierce the most inpreb'le wall"
          echo "cold-shoulder steel and sounding brass"
          echo "Like tiny guillotines they fall"
          echo "right through our heads, into the grass"
          echo "At night, they enter in Nepal"
          echo "and pierce the lover and his lass"
          echo "from underneath the bed, you call"
          echo "it wonderfull, I call it crass!"
      - name: Install clang-format 22
        run: |
          echo "deb http://ftp.fi.debian.org/debian/ experimental main contrib non-free" >> /etc/apt/sources.list
          apt-get update
          apt-get install -y clang-format-22 pre-commit npm nodejs
          ln -s /usr/bin/clang-format-22 /usr/bin/clang-format
      - name: Make sure git is happy with the working directory
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
